<header id="Header_Show">
  <%= link_to "Multi-0-Design", root_path %>

  <div id="Header_Show__Image">
    <% if @influencer[:name] == "プチプラのあや" %>
      <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Influencers/aya_header.png" %>
    <% elsif @influencer[:name] == "まる" %>
      <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Influencers/maru_header.png" %>
    <% elsif @influencer[:name] == "佐々木 あさひ" %>
      <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Influencers/asahi_header.png" %>
    <% elsif @influencer[:name] == "ななみ" %>
      <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Influencers/nanami_header.png" %>
    <% elsif @influencer[:name] == "佐藤 優里亜" %>
      <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Influencers/No-Cover.png" %>
    <% elsif @influencer[:name] == "かんだま" %>
      <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Influencers/kandama_header.png" %>
    <% end %>
  </div>
</header>
