<div class="YouTube">
  <% if @influencer[:name] == "プチプラのあや" %>
    <h3>
      <i class="fab fa-youtube"></i> <span class="Font_Big">しまむら</span> 今冬 主役級のニット満載！（前編）
      <div class="Layer BG-Shimamura"></div>
    </h3>
    <div class="YouTube__iFrame">
      <iframe width="560px" height="315px" src="https://www.youtube-nocookie.com/embed/CMgSBIW3X0c?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <dl id="YouTube_Items">
      <dt class="YouTube__Pick-UP">
        <i class="far fa-hand-point-down"></i>
        <span class="Marker_Yellow"><i class="far fa-star"></i> Pick - UP！<i class="far fa-star"></i></span>
        <span class="YouTube__Pick-UP--Text">紹介している商品はこちら！</span>
      </dt>
      <dd class="Close">
        <div class="YouTube__Products">
          <% products = Product.find([21151300, 21450139, 31350168, 21550168, 21550507]) %>
          <% products = products.sample(3) %>
          <% products.each do |product| %>
            <div class="YouTube__Products__Product">
              <% if product[:id] == 21151300 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/Shimamura/21151300.png" %>
              <% elsif product[:id] == 21450139 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/Shimamura/21450139.png" %>
              <% elsif product[:id] == 31350168 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/Shimamura/31350168.png" %>
              <% elsif product[:id] == 21550168 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/Shimamura/21550168.png" %>
              <% elsif product[:id] == 21550507 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/Shimamura/21550507.png" %>
              <% end %>
              <h4><%= product.name %></h4>
              <p>
                <% if product[:id] == 21151300 %>
                  <%= link_to "商品ページ", "https://www.shop-shimamura.com/item/0151300002076/?cl=211", target: "_blank" %>
                <% elsif product[:id] == 21450139 %>
                  <%= link_to "商品ページ", "https://www.shop-shimamura.com/item/0150100004395/?cl=214", target: "_blank" %>
                <% elsif product[:id] == 31350168 %>
                  <%= link_to "商品ページ", "https://www.shop-shimamura.com/item/0150100004424/?cl=313", target: "_blank" %>
                <% elsif product[:id] == 21550168 %>
                  <%= link_to "商品ページ", "https://www.shop-shimamura.com/item/0150100004425/?cl=215", target: "_blank" %>
                <% elsif product[:id] == 21550507 %>
                  <%= link_to "商品ページ", "https://www.shop-shimamura.com/item/0150500001898/?cl=215", target: "_blank" %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </dd>
    </dl>

  <% elsif @influencer[:name] == "まる" %>
    <h3>
      <i class="fab fa-youtube"></i> <span class="Font_Big">UNIQLO</span> 夏の１週間コーディネート！
      <div class="Layer BG-UNIQLO"></div>
    </h3>
    <div class="YouTube__iFrame">
      <iframe width="560px" height="315px" src="https://www.youtube-nocookie.com/embed/-5ZixeIr8UA?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <dl id="YouTube_Items">
      <dt class="YouTube__Pick-UP">
        <i class="far fa-hand-point-down"></i>
        <span class="Marker_Yellow"><i class="far fa-star"></i> Pick - UP！<i class="far fa-star"></i></span>
        <span class="YouTube__Pick-UP--Text">紹介している商品はこちら！</span>
      </dt>
      <dd class="Close">
        <div class="YouTube__Products">
          <% products = Product.find([425974, 431421, 426080, 433712, 429106, 425371]) %>
          <% products = products.sample(3) %>
          <% products.each do |product| %>
            <div class="YouTube__Products__Product">
              <% if product[:id] == 425974 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/UNIQLO/425974.png" %>
              <% elsif product[:id] == 431421 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/UNIQLO/431421.png" %>
              <% elsif product[:id] == 426080 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/UNIQLO/426080.png" %>
              <% elsif product[:id] == 433712 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/UNIQLO/433712.png" %>
              <% elsif product[:id] == 429106 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/UNIQLO/429106.png" %>
              <% elsif product[:id] == 425371 %>
                <%= image_tag "https://multi-0-design.s3-ap-northeast-1.amazonaws.com/images/Products/UNIQLO/425371.png" %>
              <% end %>
              <h4><%= product.name %></h4>
              <p>
                <% if product[:id] == 425974 %>
                  <%= link_to "商品ページ", "https://www.uniqlo.com/jp/ja/products/E425974-000", target: "_blank" %>
                <% elsif product[:id] == 431421 %>
                  <%= link_to "商品ページ", "https://www.uniqlo.com/jp/ja/products/E431421-000", target: "_blank" %>
                <% elsif product[:id] == 426080 %>
                  <%= link_to "商品ページ", "https://www.uniqlo.com/jp/ja/products/E426080-000", target: "_blank" %>
                <% elsif product[:id] == 433712 %>
                  <%= link_to "商品ページ", "https://www.uniqlo.com/jp/ja/products/E433712-000", target: "_blank" %>
                <% elsif product[:id] == 429106 %>
                  <%= link_to "商品ページ", "https://www.uniqlo.com/jp/ja/products/E429106-000", target: "_blank" %>
                <% elsif product[:id] == 425371 %>
                  <%= link_to "商品ページ", "https://www.uniqlo.com/jp/ja/products/E425371-000", target: "_blank" %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </dd>
    </dl>
  <% end %>
</div>
