<%= render partial: "influencers/partial/index-header" %>

<div class="Flexbox_Row">
  <%= render partial: "influencers/partial/left-column" %>
  <section id="Left_Column">
    <div class="Title">
      <h2><i class="fas fa-bars"></i>メニュー</h2>
      <p class="Title--Down_Text">Menu</p>
    </div>

    <ul class="Side_Menu">
      <% if user_signed_in? %>
        <% if current_user.name == "Admin" %>
          <li>
            <i class="fas fa-cloud-upload-alt"></i> <%= link_to "商品登録", new_register_product_path %>
          </li>
        <% end %>

        <li>
          <i class="fas fa-sign-out-alt"></i> <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <i class="fas fa-sign-in-alt"></i> <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </ul>
    <p></p>
  </section>

  <section id="Right_Column">
    <%= render partial: "influencers/partial/right-column" %>
  </section>
</div>











<!--

<section class="Sub-Title">
  <h2><i class="fas fa-tshirt"></i> Products</h2>
  <p>紹介されたアイテム</p>
</section>

<section class="Products">
  <ul>
    <li> 絞り込み：<%= link_to "全商品", root_path %> </li>
    <li>
      ブランド別（<%= link_to "UNIQLO", root_path(sort: 'uniqlo') %>，<%= link_to "GU", root_path(sort: 'gu') %>，<%= link_to "しまむら", root_path(sort: 'shimamura') %>，<%= link_to "H＆M", root_path(sort: 'handm') %>，<%= link_to "fifth", root_path(sort: 'fifth') %>，<%= link_to "An3pocket", root_path(sort: 'an3pocket') %>）
    </li>
    <li>
      インフルエンサー別（<%= link_to "プチプラのあや", root_path(sort: 'aya') %>，<%= link_to "まる", root_path(sort: 'maru') %>，<%= link_to "佐々木あさひ", root_path(sort: 'asahi') %>，<%= link_to "ななみ", root_path(sort: 'nanami') %>）
    </li>
  </ul>

  <div class="Flexbox">
    <% @products.each do |product| %>
      <article>
        <%= image_tag product.image %>

        <% if params[:sort] == "aya" || params[:sort] == "maru" || params[:sort] == "asahi" || params[:sort] == "nanami" %>
        <% else %>
          <% if product.influencer.name == "プチプラのあや" %>
            <p class="Category_Brand">プチプラのあや</p>
          <% elsif product.influencer.name == "まる" %>
            <p class="Category_Brand">まる</p>
          <% elsif product.influencer.name == "佐々木あさひ" %>
            <p class="Category_Brand">佐々木あさひ</p>
          <% elsif product.influencer.name == "ななみ" %>
            <p class="Category_Brand">ななみ</p>
          <% end %>
        <% end %>

        <% if params[:sort] == "uniqlo" || params[:sort] == "gu" || params[:sort] == "shimamura" || params[:sort] == "handm" || params[:sort] == "fifth" || params[:sort] == "an3pocket" %>
        <% else %>
          <% if product.brand == "UNIQLO" %>
            <p class="Category_Brand">UNIQLO</p>
          <% elsif product.brand == "GU" %>
            <p class="Category_Brand">GU</p>
          <% elsif product.brand == "dear.ful" %>
            <p class="Category_Brand">しまむら</p>
          <% elsif product.brand == "H&M" %>
            <p class="Category_Brand">H＆M</p>
          <% elsif product.brand == "fifth" %>
            <p class="Category_Brand">fifth</p>
          <% elsif product.brand == "An3pocket" %>
            <p class="Category_Brand">An3pocket</p>
          <% end %>
        <% end %>

        <p class="Product_Name"><%= product.name %></p>

        <div class="Flex_Direction">
          <%= link_to influencer_path(product.influencer_id), class: "Product_Button" do %>
            詳細
          <% end %>
          <%= link_to product.distributor, class: "Product_Button", target: "_blank" do %>
            購入
          <% end %>
        </div>
      </article>
    <% end %>
    <aside><%= paginate @products %></aside>
  </div>
</section> -->
