<div class="Eye-Catch">
  <!-- <%= video_tag 'Background_Eye-Catch.mov', class: "Eye-Catch__Movie", width: "100%", autoplay: true, loop: true, muted: true, controls: false %> -->
  <%= video_tag 'https://multi-0-design.s3-ap-northeast-1.amazonaws.com/videos/Background_Eye-Catch.mov', class: "Eye-Catch__Movie", width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <div class="Eye-Catch__Title">
    <span class="Eye-Catch__Title--Front_Text">ふつうのひとの発信に価値を…</span><br>
    Multi-0-Design<br>
    <span class="Eye-Catch__Title--After_Text">インフルエンサーの着こなし投稿キュレーションサイト</span>
  </div>
</div>

<div class="Influencers">
  <% @influencers.each do |influencer| %>
    <div class="Influencer">
      <% if influencer[:name] == "プチプラのあや" %>
        <%= image_tag "/assets/ayaofpetitprice.png", class: 'Influencer__Image' %>
      <% elsif influencer[:name] == "まる" %>
        <%= image_tag "/assets/maru.png", class: 'Influencer__Image' %>
      <% elsif influencer[:name] == "佐々木 あさひ" %>
        <%= image_tag "/assets/asahi.png", class: 'Influencer__Image' %>
      <% elsif influencer[:name] == "ななみ" %>
        <%= image_tag "/assets/nanami.png", class: 'Influencer__Image' %>
      <% elsif influencer[:name] == "佐藤 優里亜" %>
        <%= image_tag "/assets/yuria.png", class: 'Influencer__Image' %>
      <% elsif influencer[:name] == "かんだま" %>
        <%= image_tag "/assets/kandama.png", class: 'Influencer__Image' %>
      <% else %>
        <%= image_tag "http://placehold.jp/120x120.png", class: 'Influencer__Image' %>
      <% end %>

      <p><%= influencer[:name] %></p>

      <div class="Flexbox">
        <p class="Influencer__Twitter">
          <% if influencer[:name] == "プチプラのあや" %>
            <a href="https://twitter.com/ayaofpetitprice" target="_blank">
              <i class="fab fa-twitter Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "まる" %>
            <a href="https://twitter.com/marumaru1530" target="_blank">
              <i class="fab fa-twitter Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "佐々木 あさひ" %>
            <a href="https://twitter.com/sasakiasahi" target="_blank">
              <i class="fab fa-twitter Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "ななみ" %>
            <a href="https://twitter.com/nanachan733" target="_blank">
              <i class="fab fa-twitter Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "佐藤 優里亜" %>
            <a href="https://twitter.com/yuriasato" target="_blank">
              <i class="fab fa-twitter Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "かんだま" %>
            <a href="https://twitter.com/KOIKE_WEEKEND" target="_blank">
              <i class="fab fa-twitter Icon_Color"></i>
            </a>
          <% end %>
        </p>

        <p class="Influencer__Instagram">
          <% if influencer[:name] == "プチプラのあや" %>
            <a href="https://www.instagram.com/ayalilyflowers" target="_blank">
              <i class="fab fa-instagram Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "まる" %>
            <a href="https://www.instagram.com/marumaru1530" target="_blank">
              <i class="fab fa-instagram Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "佐々木 あさひ" %>
            <a href="https://www.instagram.com/asahisasaki" target="_blank">
              <i class="fab fa-instagram Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "ななみ" %>
            <a href="https://www.instagram.com/nanamin733" target="_blank">
              <i class="fab fa-instagram Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "佐藤 優里亜" %>
            <a href="https://www.instagram.com/yuriang_" target="_blank">
              <i class="fab fa-instagram Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "かんだま" %>
            <a href="https://www.instagram.com/koike_weekend" target="_blank">
              <i class="fab fa-instagram Icon_Color"></i>
            </a>
          <% end %>
        </p>

        <p class="Influencer__YouTube">
          <% if influencer[:name] == "プチプラのあや" %>
            <a href="https://www.youtube.com/channel/UCC_ElJAc9JrtkMm3zTTJ1_A" target="_blank">
              <i class="fab fa-youtube Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "まる" %>
            <a href="https://www.youtube.com/channel/UCA8AbMRz2xvJuTqPKrVscRw" target="_blank">
              <i class="fab fa-youtube Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "佐々木 あさひ" %>
            <a href="https://www.youtube.com/channel/UCfCY70zRsvnnKzQ39mBq0rw" target="_blank">
              <i class="fab fa-youtube Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "ななみ" %>
            <a href="https://www.youtube.com/channel/UCLO1yCo0gDgpXhyM0fXfXXA" target="_blank">
              <i class="fab fa-youtube Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "佐藤 優里亜" %>
            <a href="https://www.youtube.com/user/yuriasatoch" target="_blank">
              <i class="fab fa-youtube Icon_Color"></i>
            </a>
          <% elsif influencer[:name] == "かんだま" %>
            <a href="https://www.youtube.com/channel/UC9bet8Rcj620A9n_qBj4nUg" target="_blank">
              <i class="fab fa-youtube Icon_Color"></i>
            </a>
          <% end %>
        </p>
      </div>

      <div class="Influencer__Button">
        <%= link_to "詳細ページへ…", influencer_path(influencer.id), method: :get %>
      </div>
    </div>
  <% end %>
</div>
