<header>
  <%= video_tag 'https://multi-0-design.s3-ap-northeast-1.amazonaws.com/videos/Background_Eye-Catch.mov', class: "Eye-Catch", width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <section>
    <span class="Text--Front">ふつうのひとの発信に価値を…</span><br>
    Multi-0-Design<br>
    <span class="Text--After">インフルエンサーの着こなし投稿キュレーションサイト</span>
  </section>
</header>

<section class="Sub-Title">
  <h2><i class="fas fa-users"></i> Influencers</h2>
  <p>インフルエンサー</p>
</section>

<section id="Influencers">
  <% influencers = Influencer.find_by_sql("SELECT * FROM influencers WHERE name = 'プチプラのあや' OR name = 'まる' OR name = '佐々木 あさひ' OR name = 'ななみ'") %>
  <% influencers.each do |influencer| %>
    <%= link_to influencer_path(influencer.name) do %>
      <article>
        <%= image_tag @url_shorter[:aws_images] + influencer.icon %>
        <div class="Influencer_Content">
          <h3><%= influencer.name %></h3>
          <div class="Influencer_Content__Social-Network">
            <%= link_to @url_shorter[:twitter] + influencer.twitter,class: "Influencer_Content__Social-Network--Twitter", target: :_blank do %>
              <i class="fab fa-twitter Icon_Color"></i>
            <% end %>
            <%= link_to @url_shorter[:instagram] + influencer.instagram,class: "Influencer_Content__Social-Network--Instagram", target: :_blank do %>
              <i class="fab fa-instagram Icon_Color"></i>
            <% end %>
            <%= link_to @url_shorter[:youtube] + influencer.youtube,class: "Influencer_Content__Social-Network--YouTube", target: :_blank do %>
              <i class="fab fa-youtube Icon_Color"></i>
            <% end %>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</section>

<section class="Sub-Title">
  <h2><i class="fas fa-tshirt"></i> Products</h2>
  <p>紹介されたアイテム</p>
</section>
