<header id="TOP_Eye-Catch">
  <%= video_tag 'https://multi-0-design.s3-ap-northeast-1.amazonaws.com/videos/Background_Eye-Catch.mov', width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <h1 class="Title">Multi-0-Design</h1>
</header>

<section id="Right_Column">
  <h2><i class="fas fa-users"></i> Influencers</h2>

  <nav id="Link_Influencer" class="Sort_Influencer">
    <ul>
      <li class="Sort_Influencer--Default"> <%= link_to "デフォルト", root_path(anchor: 'Link_Influencer') %> </li>
      <div class="Sort_Influencer__SNS"> 人気順：
        <li> <%= link_to "Instagram", root_path(sort: 'instagram', anchor: 'Link_Influencer') %> </li>
        <li> <%= link_to "YouTube", root_path(sort: 'youtube', anchor: 'Link_Influencer') %> </li>
        <li> <%= link_to "Twitter", root_path(sort: 'twitter', anchor: 'Link_Influencer') %> </li>
      </div>
    </ul>
  </nav>

  <section class="Influencers">
    <div class="Flexbox_Wrap">
      <% @influencers.each do |influencer| %>
        <article>
          <%= link_to influencer_path(influencer.name) do %>
            <%= image_tag influencer.icon %>
          <% end %>
          <p class="Influencers--Name"><%= influencer.name %></p>

          <% if params[:sort] == "twitter" %>
            <p class="Influencers--Follower">フォロワー：<%= influencer.twitter_follower %></p>
          <% elsif params[:sort] == "instagram" %>
            <p class="Influencers--Follower">フォロワー：<%= influencer.instagram_follower %></p>
          <% elsif params[:sort] == "youtube" %>
            <p class="Influencers--Follower">フォロワー：<%= influencer.youtube_follower %></p>
          <% else %>
          <% end %>

          <%= link_to influencer.twitter, class: "Influencers--Social-Network", target: :_blank do %>
            <i class="fab fa-twitter Icon_Twitter"></i>
          <% end %>
          <%= link_to influencer.instagram, class: "Influencers--Social-Network", target: :_blank do %>
            <i class="fab fa-instagram Icon_Instagram"></i>
          <% end %>
          <%= link_to influencer.youtube, class: "Influencers--Social-Network", target: :_blank do %>
            <i class="fab fa-youtube Icon_YouTube"></i>
          <% end %>
        </article>
      <% end %>
    </div>
  </section>
</section>







<!-- <section class="Influencers">

  <div class="Flexbox">
    <% @influencers.each do |influencer| %>
      <article>
        <% if influencer.name == "プチプラのあや" %>
          <p class="Supplement--Marker_Blue">
            <i class="far fa-hand-point-down"></i> 詳細ページはこちら <i class="far fa-hand-point-down"></i>
          </p>
        <% elsif influencer.name == "まる" || influencer.name == "佐々木あさひ" || influencer.name == "ななみ" %>
          <p class="Supplement--Marker_Yellow">
            <i class="fas fa-exclamation-triangle"></i> 実装済
          </p>
        <% else %>
          <p class="Supplement--Marker_Red">
            <i class="far fa-tired"></i> 未実装
          </p>
        <% end %>

        <%= link_to influencer_path(influencer.name), class: "Influencers--Link" do %>
          <%= image_tag influencer.icon %>
        <% end %>
        <div class="Influencers__Person">
          <p class="Influencers__Person--Name"><%= influencer.name %></p>
          <p class="Influencers__Person--Follower">
            <% if params[:sort] == "twitter" %>
              フォロワー：<%= influencer.twitter_follower %>
            <% elsif params[:sort] == "instagram" %>
              フォロワー：<%= influencer.instagram_follower %>
            <% elsif params[:sort] == "youtube" %>
              フォロワー：<%= influencer.youtube_follower %>
            <% else %>
            <% end %>
          </p>
          <div class="Influencers__Person__Social-Network">
            <%= link_to influencer.twitter,class: "Influencers__Person__Social-Network--Twitter", target: :_blank do %>
              <i class="fab fa-twitter Icon_Color"></i>
            <% end %>
            <%= link_to influencer.instagram,class: "Influencers__Person__Social-Network--Instagram", target: :_blank do %>
              <i class="fab fa-instagram Icon_Color"></i>
            <% end %>
            <%= link_to influencer.youtube,class: "Influencers__Person__Social-Network--YouTube", target: :_blank do %>
              <i class="fab fa-youtube Icon_Color"></i>
            <% end %>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</section>

<section class="Sub-Title">
  <h2><i class="fas fa-tshirt"></i> Products</h2>
  <p>紹介されたアイテム</p>
</section>

<section class="Products">
  <ul>
    <li> 絞り込み：<%= link_to "全商品", root_path %> </li>
    <li>
      ブランド別（<%= link_to "UNIQLO", root_path(sort: 'uniqlo') %>，<%= link_to "GU", root_path(sort: 'gu') %>，<%= link_to "しまむら", root_path(sort: 'shimamura') %>，<%= link_to "H＆M", root_path(sort: 'handm') %>，<%= link_to "fifth", root_path(sort: 'fifth') %>，<%= link_to "An3pocket", root_path(sort: 'an3pocket') %>）
    </li>
    <li>
      インフルエンサー別（<%= link_to "プチプラのあや", root_path(sort: 'aya') %>，<%= link_to "まる", root_path(sort: 'maru') %>，<%= link_to "佐々木あさひ", root_path(sort: 'asahi') %>，<%= link_to "ななみ", root_path(sort: 'nanami') %>）
    </li>
  </ul>

  <div class="Flexbox">
    <% @products.each do |product| %>
      <article>
        <%= image_tag product.image %>

        <% if params[:sort] == "aya" || params[:sort] == "maru" || params[:sort] == "asahi" || params[:sort] == "nanami" %>
        <% else %>
          <% if product.influencer.name == "プチプラのあや" %>
            <p class="Category_Brand">プチプラのあや</p>
          <% elsif product.influencer.name == "まる" %>
            <p class="Category_Brand">まる</p>
          <% elsif product.influencer.name == "佐々木あさひ" %>
            <p class="Category_Brand">佐々木あさひ</p>
          <% elsif product.influencer.name == "ななみ" %>
            <p class="Category_Brand">ななみ</p>
          <% end %>
        <% end %>

        <% if params[:sort] == "uniqlo" || params[:sort] == "gu" || params[:sort] == "shimamura" || params[:sort] == "handm" || params[:sort] == "fifth" || params[:sort] == "an3pocket" %>
        <% else %>
          <% if product.brand == "UNIQLO" %>
            <p class="Category_Brand">UNIQLO</p>
          <% elsif product.brand == "GU" %>
            <p class="Category_Brand">GU</p>
          <% elsif product.brand == "dear.ful" %>
            <p class="Category_Brand">しまむら</p>
          <% elsif product.brand == "H&M" %>
            <p class="Category_Brand">H＆M</p>
          <% elsif product.brand == "fifth" %>
            <p class="Category_Brand">fifth</p>
          <% elsif product.brand == "An3pocket" %>
            <p class="Category_Brand">An3pocket</p>
          <% end %>
        <% end %>

        <p class="Product_Name"><%= product.name %></p>

        <div class="Flex_Direction">
          <%= link_to influencer_path(product.influencer_id), class: "Product_Button" do %>
            詳細
          <% end %>
          <%= link_to product.distributor, class: "Product_Button", target: "_blank" do %>
            購入
          <% end %>
        </div>
      </article>
    <% end %>
    <aside><%= paginate @products %></aside>
  </div>
</section> -->
