<div class="Eye-Catch">
  <%= video_tag 'https://multi-0-design.s3-ap-northeast-1.amazonaws.com/videos/Background_Eye-Catch.mov', class: "Eye-Catch__Movie", width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <div class="Eye-Catch__Title">
    <span class="Eye-Catch__Title--Front_Text">ふつうのひとの発信に価値を…</span><br>
    Multi-0-Design<br>
    <span class="Eye-Catch__Title--After_Text">インフルエンサーの着こなし投稿キュレーションサイト</span>
  </div>
</div>

<div class="Influencers">
  <% @influencers.each do |influencer| %>
    <div class="Influencer">
      <%= image_tag @influencer_icon + influencer.icon, class: 'Influencer__Image' %>

      <p><%= influencer.name %></p>

      <div class="Flexbox">
        <p class="Influencer__Twitter">
          <%= link_to @twitter + influencer.twitter, target: :_blank do %>
            <i class="fab fa-twitter Icon_Color"></i>
          <% end %>
        </p>

        <p class="Influencer__Instagram">
          <%= link_to @instagram + influencer.instagram, target: :_blank do %>
            <i class="fab fa-instagram Icon_Color"></i>
          <% end %>
        </p>

        <p class="Influencer__YouTube">
          <%= link_to @youtube + influencer.youtube, target: :_blank do %>
            <i class="fab fa-youtube Icon_Color"></i>
          <% end %>
        </p>
      </div>

      <div class="Influencer__Button">
        <%= link_to "詳細ページへ…", influencer_path(influencer.name), method: :get %>
      </div>
    </div>
  <% end %>
</div>
