<header id="Header">
  <section class="Influencer_Header">
    <% if @influencer.youtube_channel.header %>
      <%= image_tag @influencer.youtube_channel.header %>
    <% else %>
      <%= image_tag 'http://placehold.jp/1024x300.png' %>
    <% end %>
  </section>

  <section class="Influencer_Icon">
    <div class="Influencer_Icon__Flexbox">
      <%= image_tag @influencer.youtube_channel.icon %>
      <h1><%= @influencer.name %></h1>
    </div>

    <div class="Influencer_Icon__Position">
      <%= link_to @influencer.twitter, class: 'Influencer_Icon__Position--Twitter', target: :_blank do %>
        <i class="fab fa-twitter"></i>
      <% end %>
      <%= link_to @influencer.instagram, class: 'Influencer_Icon__Position--Instagram', target: :_blank do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://www.youtube.com/channel/#{@influencer.youtube_channel.channel_id}", class: 'Influencer_Icon__Position--YouTube', target: :_blank do %>
        <i class="fab fa-youtube"></i>
      <% end %>
    </div>
  </section>
</header>










<section class="YouTube_Videos">
  <% @video_lists.each do |video| %>
    <article>
      <h2>
        <%= video.title %>
        <div class="Layer BG_UNIQLO"></div>
      </h2>

      <iframe width="640px" height="360px" src= <%= "https://www.youtube-nocookie.com/embed/" + video.video_id + "?controls=0" %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
  <% end %>
</section>
