<% youtube = Google::Apis::YoutubeV3::YouTubeService.new %>
<% youtube.key = Rails.application.credentials.YouTube[:YouTube_Data_API] %>
<% options = {id: 'UCC_ElJAc9JrtkMm3zTTJ1_A'} %>

<header id="SHOW_Header">
  <h1>
    <%= link_to "Multi-0-Design", root_path %>
  </h1>

  <p id="SHOW_Header__Image">
    <% aya_channel_banner = youtube.list_channels(:brandingSettings, options).to_h %>
    <%= image_tag aya_channel_banner[:items][0][:branding_settings][:image][:banner_external_url] %>
  </p>
</header>

<section class="Influencer_Title">
  <% aya_channel_icon = youtube.list_channels(:snippet, options).to_h %>
  <%= image_tag aya_channel_icon[:items][0][:snippet][:thumbnails][:medium][:url] %>
</section>








<!-- <section id="Influencer_Show">
  <div id="Influencer_Title">
    <%= image_tag @influencer.icon %>
    <div class="Flexbox_Row">
      <h2><%= @influencer.name %></h2>
      <p>
        <%= link_to @influencer.twitter, target: :_blank do %>
          <i class="fab fa-twitter Twitter_Icon-Color"></i>
        <% end %>
        <%= link_to @influencer.instagram, target: :_blank do %>
          <i class="fab fa-instagram Instagram_Icon-Color"></i>
        <% end %>
        <%= link_to @influencer.youtube, target: :_blank do %>
          <i class="fab fa-youtube YouTube_Icon-Color"></i>
        <% end %>
      </p>
    </div>
  </div>

  <% if @influencer[:name] == "プチプラのあや" %>
    <%= render partial: "influencers/show/influencer/aya" %>
  <% elsif @influencer[:name] == "まる" %>
    <%= render partial: "influencers/show/influencer/maru" %>
  <% elsif @influencer[:name] == "佐々木あさひ" %>
    <%= render partial: "influencers/show/influencer/asahi" %>
  <% elsif @influencer[:name] == "ななみ" %>
    <%= render partial: "influencers/show/influencer/nanami" %>
  <% elsif @influencer[:name] == "佐藤優里亜" %>
    <%= render partial: "influencers/show/influencer/yuria" %>
  <% elsif @influencer[:name] == "かんだま" %>
    <%= render partial: "influencers/show/influencer/kandama" %>
  <% end %>
</section> -->
