<header id="Header_Show">
  <%= link_to "Multi-0-Design", root_path %>

  <div id="Header_Show__Image">
    <% if @influencer.header %>
      <%= image_tag @url_shorter[:aws_images] + @influencer.header %>
    <% else %>
      <%= image_tag @url_shorter[:aws_images] + "Influencers/No-Cover.png" %>
    <% end %>
  </div>
</header>

<div id="Contents_Show">
  <div class="Influencer_Icon">
  <%= image_tag @url_shorter[:aws_images] + @influencer.icon %>
  <h2><%= @influencer.name %></h2>
  </div>

  <div id="Contents_Show__Flexbox">
    <%= render partial: "influencers/show/twitter" %>

    <% if @influencer[:name] == "プチプラのあや" %>
      <%= render partial: "influencers/show/influencer/aya" %>
    <% elsif @influencer[:name] == "まる" %>
      <%= render partial: "influencers/show/influencer/maru" %>
    <% elsif @influencer[:name] == "佐々木 あさひ" %>
      <%= render partial: "influencers/show/influencer/asahi" %>
    <% elsif @influencer[:name] == "ななみ" %>
      <%= render partial: "influencers/show/influencer/nanami" %>
    <% elsif @influencer[:name] == "佐藤 優里亜" %>
      <%= render partial: "influencers/show/influencer/yuria" %>
    <% elsif @influencer[:name] == "かんだま" %>
      <%= render partial: "influencers/show/influencer/kandama" %>
    <% end %>
  </div>
</div>
