<% if current_page?(root_path) || current_page?(new_user_session_path) || current_page?(register_products_path) || current_page?(new_register_product_path) %>
  <%= video_tag 'https://multi-0-design.s3-ap-northeast-1.amazonaws.com/videos/Background_Eye-Catch.mov', width: "100%", autoplay: true, loop: true, muted: true, controls: false %>
  <h1 id="Header__Title">Multi-0-Design</h1>
<% else %>
  <section class="Influencer_Header">
    <% if @influencer.youtube_channel.header %>
      <%= image_tag @influencer.youtube_channel.header %>
    <% else %>
      <%= image_tag 'http://placehold.jp/1024x300.png' %>
    <% end %>
  </section>

  <section class="Influencer_Icon">
    <div class="Influencer_Icon__Flexbox">
      <%= image_tag @influencer.youtube_channel.icon %>
      <h1><%= @influencer.name %></h1>
    </div>

    <div class="Influencer_Icon__Position">
      <%= link_to @influencer.twitter, class: 'Influencer_Icon__Position--Twitter', target: :_blank do %>
        <i class="fab fa-twitter"></i>
      <% end %>
      <%= link_to @influencer.instagram, class: 'Influencer_Icon__Position--Instagram', target: :_blank do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://www.youtube.com/channel/#{@influencer.youtube_channel.channel_id}", class: 'Influencer_Icon__Position--YouTube', target: :_blank do %>
        <i class="fab fa-youtube"></i>
      <% end %>
    </div>
  </section>
<% end %>
